

#root {
    display: flex;
    width: 100%; 
    overflow: auto;
   background-color:rgb(231, 227, 227);
}

#root > div{
    width: 100%;
    text-align: center;
}

.h{
    color:black;
    align-items: center;
    margin-bottom: 20px;
    display:flex;
   } 
   img{
    width:50px;
    height:30px;
    padding:3px;
    margin-left: 20px; 
 } 

#task_ip{
    margin-left: 20px;
    margin-top: 3px;
    border-radius: 5px;
    background-color: aliceblue;
    color:Black;
    font-family:'Courier New', Courier, monospace;
    font-size:large;
    align-self:baseline;
    width:70%;
    box-shadow:3px 4px 7px rgb(1, 1, 22);
} 
#taskdiv{
    margin:10%;
}

#tasks{
    overflow: auto;
    max-height: 520px;
}

#tasks h1{
    display: block;
}

#entry{
    width: 100%;
    
}


@media only screen and (max-width: 1078px){
    #root {
        overflow: auto;
        display: block;
        width: 80%; 
        
    }

  
}

